<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nadyadtm.aplikasi_pesanan_takjil">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_drink"
        android:label="TakjilOnline"
        android:roundIcon="@drawable/icon_drink"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SuccessOrderActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.CheckoutActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>